<launch>
  <arg name="qtplot" default="false" />
  <node name="fft_qtplot"
        pkg="fft" type="fft_qtplot.py"
        if="$(arg qtplot)">
    <remap from="~spectrum" to="/fft/output" />
    <rosparam>
    </rosparam>
  </node>
  <node name="fft_plot"
	pkg="fft" type="fft_plot.py"
        unless="$(arg qtplot)">
    <remap from="~spectrum" to="/fft/output" />
    <rosparam>
    </rosparam>
  </node>
</launch>
